* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    margin: 44px 0 50px 76px;
}

.link-header {
    font-weight: 600;
    size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    width: 110px;
    height: 30px;
    border-radius: 20.5px;
    background: #665ae1;
    border: none;
    font-size: 15px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}

.logo-image {
    width: 628px;
    height: 560px;
    margin-left: 60px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
    margin-bottom: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-section {
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000;
}

@media screen and (max-width: 900px) {
    .logo-image {
        width: 700px;
        height: 700px;
        margin-right: 50px;
    }

    p {
        display: none;
    }

    header .link-header {
        display: none;
    }

    header .button-header {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 150px;
    }

    h2 {
        text-align: center;
        font-size: 75px;
    }

    button.button-section {
        margin-left: 200px;
        margin-top: 50px;
    }
}